SQLAlchemy
aiofiles
bcrypt
bump2version
click
coloredlogs
email-validator
fastapi
google-auth
gunicorn
httptools
numpy
openpyxl
passlib
pydantic
pydantic-settings
pymysql
python-dotenv
python-jose[cryptography]
python-multipart
pyyaml
requests
sqlmodel
uvicorn
uvloop
