SQLAlchemy
aiofiles
bcrypt
bump2version
click
starlette
coloredlogs
email-validator
fastapi==0.75.0
google-auth
gunicorn
httptools
numpy
openpyxl
passlib
pydantic
pymysql
python-dotenv
python-jose[cryptography]
python-multipart
pyyaml
requests
uvicorn
uvloop
sqlalchemy_utils