click
pyyaml
coloredlogs
bump2version
pymysql
sqlmodel
openpyxl
SQLAlchemy==1.4.30

# server stuff
passlib
fastapi==0.75.0
uvicorn
uvloop
httptools
gunicorn
python-jose[cryptography]
bcrypt
numpy
aiofiles
python-dotenv
google-auth
pydantic==1.10.14
email-validator
